@import "tailwindcss";

.font-dm {
  font-family: var(--font-DM-Serif-Display) sans-serif !important;
}

.font-manrope {
  font-family: var(--font-Manrope) sans-serif !important;
}

.index__bg{
  background-color: #F9F9F8;
}
.index__btn_colors{
  background: #CBA655;
  color: #222222;
  font-weight: 600;
  font-size: 16px;
  font-family: var(--font-Manrope);
  cursor: pointer !important;
  transition: background 0.3s !important;
}
.index__btn_colors:hover{
  background: #222222;
  color: #F9F9F8;
}